<html>

<head>
    <title>Header</title>
    <link href="">
      <link rel="stylesheet" type="text/css" href="css/all.css">
    </link>
</head>

<body>
    <div class="Final-sec">
        <div class="final-sec-items">
            {{!-- <img src="style/Asset+1TCM-logo.png" alt="" class="final-img"> --}}
            <div class="logos">
                <ul>
                    <li><a href=""></a><i class="fa-brands fa-facebook"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-instagram"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-twitter"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-linkedin"></i></li>
                    <li><a href=""></a><i class="fa-brands fa-snapchat"></i></li>
                    <li><a href=""></a><i class="fa-regular fa-heart"></i></li>

                </ul>
            </div><!-- logos -->
            <p>copyright &copy 2021 . all right reserved by Menna</p>
        </div> <!-- final-sec-items -->
    </div>
</body>

</html>

