<html>
    <head>
        <title>Header</title>
        <link href=""></link>
    </head>
    <body>
        <h2 class="head">{{title}}</h2>
        <div class="header1">
            <a href="/">Home</a>
            <a href="/service">Service</a>
            <a href="/teams">Teams</a>
            <a href="/fourth">Fourth</a>
            <a href="/fifth">Fifth</a>

        </div>
        
    </body>
</html>