<html>
    <head>
        <title>Index hbs</title>
                <link rel="stylesheet" href="css/style.css">
                      <link rel="stylesheet" type="text/css" href="css/all.css">


    </head>
    <body>
        <h2>{{>header}}</h2>
        
        <h2>Title: {{title}}</h2>
        <p>Description: {{desc}}</p>
        <img src={{img}} alt=""/>
        <p>{{>footer}}</p>
    </body>
</html>