<html>
    <head>
        <title>Service file</title>
                <link rel="stylesheet" href="css/style.css">
                      <link rel="stylesheet" type="text/css" href="css/all.css">


    </head>
    <body>
        <h2>{{>header}}</h2>
        {{!-- <h2>Menna Mohamed</h2> --}}
        <h2>Title: {{title}}</h2>
        <p>Description: {{desc}}</p>
        <img src={{img1}} alt="hhhhhh"/>
        <p>{{>footer}}</p>
    </body>
</html>